*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Test files
/src/androidTest/

# Java class files
*.class

/app/src/test/java/com/mrcheng/cemera_simple/

/app/src/androidTest/java/com/mrcheng/cemera_simple/
